{% extends 'home/home/masterpage.twig' %}

{% block container %}
    <p>
        <h2>Blog Ekle <small>kendini göster</small></h2>
    </p>

    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Başlık</label>
            <input type="text" name="title" id="title" class="form-control" placeholder="Yaratıcı Şeyler...." />
        </div>

        <div class="form-group">
            <label for="tags">Etiketler <small>Virgülle ayırın.</small></label>
            <input type="text" name="tags" id="tags" class="form-control" placeholder="Çok, iddialı, şeyler, görüyorum" />
        </div>

        <div class="form-group">
            <label for="image">Resim</label>
            <input type="file" name="image" id="image" class="form-control" />
        </div>

        <div class="form-group">
            <label for="content">İçerik</label>
            <textarea name="content" id="content" class="ckeditor form-control">İşte burası senin alanın</textarea>
        </div>

        <div class="form-group">
            <button class="btn btn-success">
                <i class="glyphicon glyphicon-plus"></i>
                Ekle
            </button>
        </div><br /><br /><br />
    </form>
{% endblock %}