{% extends 'home/home/masterpage.twig' %}

{% block container %}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        A architecto, at cum dignissimos distinctio esse explicabo
        facilis illo iste libero, modi, nam odio odit pariatur
        reprehenderit repudiandae saepe veritatis voluptatum?
    </p>
{% endblock %}