<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <!-- Path.route('/') is generates link to / route (root) -->
            <a href="{{ Path.route('/') }}" class="navbar-brand">
                {{ application_name }}
            </a>
        </div>

        <div class="collapse navbar-collapse pull-right">
            <ul class="nav navbar-nav">
                <!-- Path.route('/login') is generates link to /login route -->
                <li><a href="{{ Path.route('/login') }}">Giriş Yap</a></li>
            </ul>
        </div>
    </div>
</nav>