<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <!-- Path.route('/') is generates link to / route (root) -->
            <a href="{{ Path.route('/') }}" class="navbar-brand">
                {{ application_name }}
            </a>
        </div>

        <div class="collapse navbar-collapse pull-right">
            <ul class="nav navbar-nav">
                <!-- Path.route('/login') is generates link to /login route -->
                {% if Sessions.get('login') %}
                    {% include 'home/home/inc/user-menu.twig' %}
                {% else %}
                    {% include 'home/home/inc/guest-menu.twig' %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>