<li><a>Hoşgeldin, {{ Sessions.get('name').value }} </a></li>
<li><a href="{{ Path.route('/icerik/blog/ekle') }}">Yazı Ekle</a></li>
<li><a href="{{ Path.route('/icerik/blog/bloglarim') }}">Yazılarım</a></li>
<li><a href="{{ Path.route('/logout') }}">Çıkış</a></li>