{% extends 'home/home/masterpage.twig' %}

{% block container %}
    {% if error|length > 0 %}
        <div class="row">
            <div class="col-xs-12">
                {% for err in error %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {% if err == 'length' %}
                            Şifreniz 6-20 karakter arasında olmalıdır.
                        {% elseif err == 'pairs' %}
                            Girdiğiniz şifreler uyuşmadı
                        {% elseif err == 'email' %}
                            Eposta adresiniz hatalı
                        {% else %}
                            {{ err }}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <h2 class="margin-bottom-30">
                Giriş Yap
                <small>
                    mevcut hesap
                </small>
            </h2>

            <form method="post">
                <div class="form-group">
                    <label for="email">Eposta:</label>
                    <input id="email" type="email" class="form-control" name="email" placeholder="Eposta" />
                </div>

                <div class="form-group">
                    <label for="pass">Şifre</label>
                    <input type="password" class="form-control" id="pass" name="password" placeholder="Şifre" />
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="remember" value="1" /> Beni Hatırla
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-success btn-block" name="submit" value="login">Giriş</button>
                </div>
            </form>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-7 col-lg-offset-1">
            <h2 class="margin-bottom-30">
                Kayıt Ol
                <small>
                    yeni hesap
                </small>
            </h2>

            <form method="post">
                <div class="form-group">
                    <label for="name">Ad soyad:</label>
                    <input id="name" type="text" class="form-control" name="name" placeholder="ad soyad" />
                </div>

                <div class="form-group">
                    <label for="email2">Eposta:</label>
                    <input id="email2" type="email" class="form-control" name="email" placeholder="Eposta" />
                </div>

                <div class="form-group">
                    <label for="pass2">Şifre</label>
                    <input type="password" class="form-control" id="pass2" name="password" placeholder="Şifre" />
                </div>

                <div class="form-group">
                    <label for="pass3">Şifre <small>tekrar</small></label>
                    <input type="password" class="form-control" id="pass3" name="repassword" placeholder="Şifre" />
                </div>

                <div class="form-group">
                    <button class="btn btn-warning btn-block" name="submit" value="register">Kayıt</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block styles %}
<style>
    .margin-bottom-30 {
        margin-bottom: 30px;
    }
</style>
{% endblock %}