{% extends 'home/home/masterpage.twig' %}

{% block container %}
    <div class="row">
        {% for spec in specs %}
            <div class="col-md-4">
                <h2>{{ spec.title }}</h2>
                <p>{{ spec.description }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}