<!doctype html>
<html class="no-js" lang="">
    {% include 'home/home/inc/head.twig' %}
    {% block styles %}{% endblock %}
<body>

    {% include 'home/home/inc/header.twig' %}

    <div class="container">
        {% block container %}{% endblock %}
    </div>

    {% include 'home/home/inc/footer.twig' %}
    {% include 'home/home/inc/scripts.twig' %}
    {% block scripts %}{% endblock %}
</body>
</html>