<!doctype html>
<html class="no-js" lang="">
    {% include 'home/home/inc/head.twig' %}
    {% block styles %}{% endblock %}
<body>

    {% include 'home/home/inc/header.twig' %}

    <div class="container">
        {% if error|length > 0 %}
            <div class="row">
                <div class="col-xs-12">
                    {% for err in error %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {% if err == 'length' %}
                                Şifreniz 6-20 karakter arasında olmalıdır.
                            {% elseif err == 'pairs' %}
                                Girdiğiniz şifreler uyuşmadı
                            {% elseif err == 'email' %}
                                Eposta adresiniz hatalı
                            {% else %}
                                {{ err }}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% block container %}{% endblock %}
    </div>

    {% include 'home/home/inc/footer.twig' %}
    {% include 'home/home/inc/scripts.twig' %}
    {% block scripts %}{% endblock %}
</body>
</html>